In [11]:
import re
import nltk
import pandas as pd

data = pd.read_csv("train.csv")
df_data = data.applymap(str)

df_data.insert(4,'testing', '')

#############################################################
################# Expanding words ###########################
#############################################################

for columns in df_data.columns:
    df_data[columns] = df_data[columns].str.lower()
    df_data['testing']=df_data['text'].str.replace("n`t", " not")
    df_data['testing']=df_data['testing'].str.replace("`d", " would")
    df_data['testing']=df_data['testing'].str.replace("`m", " am")
    df_data['testing']=df_data['testing'].str.replace("`ve", " have")


#############################################################
################# Working with Punctuation ##################
#############################################################    
df_data.insert(5,'Exclamation', '')

def removeExtra_Duplicated_asterisk(text):
    return re.sub(r'[*]{2,}', '*', text)

def removeExtra_Duplicated_Exclamation(text):
    return re.sub(r'[!]{2,}', '!', text)

def numberOfExclamation(text):
    total_count = 0;
    exclaimation_mark = text.count('!')
    asterisk = text.count('*')
    total_count = exclaimation_mark + asterisk
    return total_count
    
#Exclamation 語氣
for columns in df_data.columns:
    df_data['testing']=df_data['testing'].str.replace(",", "")
    df_data['testing']=df_data['testing'].str.replace(".", "")
    df_data['testing']=df_data['testing'].apply(removeExtra_Duplicated_asterisk)
    df_data['testing']=df_data['testing'].apply(removeExtra_Duplicated_Exclamation)
    df_data['Exclamation']=df_data['testing'].apply(numberOfExclamation)

    
################################################################
################# Removing stopwrods  ##########################
################################################################

import nltk
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english')) 
stop_words.remove('not')

for columns in df_data.columns:
    df_data['testing']=df_data['testing'].apply(lambda x:' '.join([word for word in x.split() if word not in (stop_words)]))

df_data

,textID,text,selected_text,sentiment,testing,Exclamation
0,cb774db0d1,"i`d have responded, if i were going","i`d have responded, if i were going",neutral,would responded going,0
1,549e992a42,sooo sad i will miss you here in san diego!!!,sooo sad,negative,sooo sad miss san diego!,1
2,088c60f138,my boss is bullying me...,bullying me,negative,boss bullying,0
3,9642c003ef,what interview! leave me alone,leave me alone,negative,interview! leave alone,1
4,358bd9e861,"sons of ****, why couldn`t they put them on t...","sons of ****,",negative,sons * could not put releases already bought,1
...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on denver husband l...,d lost,negative,wish could come see u denver husband lost job ...,0
27477,4f4c4fc327,i`ve wondered about rake to. the client has ...,", don`t force",negative,wondered rake client made clear net not force ...,0
27478,f67aae2310,yay good for both of you. enjoy the break - y...,yay good for both of you.,positive,yay good enjoy break - probably need hectic we...,0
27479,ed167662a5,but it was worth it ****.,but it was worth it ****.,positive,worth *,1
27480,6f7127d9d7,all this flirting going on - the atg smiles...,all this flirting going on - the atg smiles. y...,neutral,flirting going - atg smiles yay ((hugs)),0